@import "base.less"; // Import the base css
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,300|Oxygen:400,300);

// * { background: rgba(0,0,0,0.1);}

body { background: #f7f4f3; }
div { box-sizing: border-box; }
.hide { display: none; }
.show { display: block; }

header {
   background: #fff;
   height: 70px;
   box-shadow: 0px 0px 5px rgba(0,0,0,0.1);

   img, h1, nav { float: left; }

   img {
      margin-right: 2%;
      width: 80px;
   }

   h1 {
      margin-top: 20px;
      margin-left: 10px;
      color: #3a2f29;
      text-transform: uppercase;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
   }

   nav {
      ul {
      margin: 0;
      float: right;

      a {
         color: #58473e;
         display: block;
         text-decoration: none;
         padding: 26px 20px 25px;
         float: left;

         &:hover {
            color: #120f0d;
            border-bottom: 2px solid #b7a499;
         }
      }

      li {
         text-transform: uppercase;
         font-family: "Montserrat", "Helvetica Neue", Helvetica, arial, sans-serif;
      }
   }
   .loginBox {
      margin: 12px;
   }

   fieldset {
      float: right;
      font-size: 16px;

         select,
         input[type=text],
         input[type=password],
         input[type=email],
         input[type=search],
         input[type=tel] {
            width: 100px;
         }
      }
   }


}



#hero {
   border-bottom: 1px solid #ccc0b8;
   padding-bottom: 80px;

h2 {
   font-family: "Oxygen", "Helvetica Neue", helvetica, sans-serif;
   font-size: 40px;
   text-align: center;
   margin-top: 60px;
   font-weight: 300;
   color: #57493f;
   text-shadow: 0px -2px 1px white;
}


p {
   font-family: "Roboto Slab";
   width: 80%;
   font-size: 16px;
   font-weight: 300;
   line-height: 30px;
   margin: 0px auto;
   text-align: center;
}

}


